*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
config/s3.yml


.DS_Store
.ruby-version
.rvmrc
public/uploads
/local/
/config/settings.local.yml
/config/settings/*.local.yml
/config/environments/*.local.yml
/config/settings/development.yml

/Capfile
/config/deploy*
/.gitmodules
/deploy